databases:
  - name: mysitedb
    plan: free
    region: frankfurt
    databaseName: mysite
    user: mysite

services:
  - type: web
    plan: free
    name: mysite
    env: python
    runtime: python
    buildCommand: './build.sh'
    startCommand: 'python -m gunicorn texcably.asgi:application -k uvicorn.workers.UvicornWorker'
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: mysitedb
          property: connectionString
      - key: SECRET_KEY
        generateValue: true
      - key: WEB_CONCURRENCY
        value: 4
      - key: IS_DEVELOPMENT
        value: False