body {
    font-family: var(--sans-serif), sans-serif;
    background-color: #eee;
}

.container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
}

/* Navbar */
nav {
    height: 100%;
    width: 20rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: rgb(var(--dark-green));
}

.title-container {
    display: flex;
    align-items: center;
}

.title-container h2 {
    margin-left: 1rem;
    color: white;
    font-size: 2rem;
}

.title-container button {
    padding: 0.5rem;
    font-size: 2rem;
    background-color: rgb(var(--medium-d-green));
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
}

.title-container button:hover {
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.3);
}

.items-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

nav ul {
    margin-top: 2rem;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.current-page {
    background-color: rgb(var(--medium-d-green));
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

nav a {
    padding: 1rem;
    display: block;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

nav a:hover {
    background-color: rgb(var(--medium-d-green));
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

nav a.logout {
    background-color: rgba(var(--medium-d-green));
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

/* App Content */
.content {
    flex-grow: 1;
}

.content h1 {
    margin: 2rem;
    font-family: var(--serif), serif;
    font-weight: normal;
    font-size: 2.5rem;
}

.content h1 span {
    font-weight: bold;
}

.grid-container {
    padding: 1rem;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-gap: 1rem;
    height: 75vh;
    width: 100%;
}

.box {
    background-color: white;
    border-radius: 20px;
    padding: 1rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}