.grid-container {
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
}

.box {
    min-height: auto;
}

.article-link {
    color: rgb(var(--medium-l-green));
    font-weight: bold;
}

.articles--wordslabel {
    margin-top: 0.7rem;
    font-size: 1.3rem;
    font-weight: bold;
}

.article--wordslist {
    margin-top: 1rem;
    gap: 1rem;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.article--wordslist li {
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
    color: white;
    background-color: rgb(var(--medium-l-green));
    border-radius: 100px;
}