{% extends 'base.html' %}

{% load static %}

{% block title %}
	App
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'texcably_app/css/app.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        {% include 'texcably_app/includes/app_navbar.html' %}
        <div class="content">
            <h1>Welcome, <span>{{ user.first_name }}</span></h1>
            <div class="grid-container">
                <div class="box quick-actions">
                    <h3>Quick Actions</h3>
                    <ul>
                        <li><a href="{% url 'add_article' %}">Add article</a></li>
                        <li><a href="{% url 'add_word' %}">Add word</a></li>
                    </ul>
                </div>
{#                <div class="box"></div>#}
{#                <div class="box"></div>#}
{#                <div class="box"></div>#}
{#                <div class="box"></div>#}
{#                <div class="box"></div>#}
            </div>
        </div>
    </div>


    <script src="{% static 'texcably_app/js/app_navbar.js' %}"></script>
    <script src="https://kit.fontawesome.com/43d09edae1.js" crossorigin="anonymous"></script>

{% endblock %}