{% extends 'base.html' %}

{% load static %}

{% block title %}
	App
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'texcably_app/css/app.css' %}">
    <link rel="stylesheet" href="{% static 'texcably_app/css/articles.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        {% include 'texcably_app/includes/app_navbar.html' %}
        <div class="content">
            <h1>Your Saved Articles</h1>
            <div class="grid-container">
                {% for article in articles %}
                	<div class="box">
                        <a href="{{ article.link }}" class="article-link">{{ article.link }}</a>
                        <p class="articles--wordslabel">Saved Words</p>
                        <ul class="article--wordslist">
                            {% for word in article.words.all %}
                            	<li>{{ word }}</li>
                            {% endfor %}

                        </ul>
                    </div>
                {% endfor %}
{#                <div class="box"></div>#}
{#                <div class="box"></div>#}
{#                <div class="box"></div>#}
{#                <div class="box"></div>#}
{#                <div class="box"></div>#}
            </div>
        </div>
    </div>

    <script>
        document.querySelector('nav li:nth-child(3) a').classList.add('current-page');
    </script>
    <script src="{% static 'texcably_app/js/app_navbar.js' %}"></script>
    <script src="https://kit.fontawesome.com/43d09edae1.js" crossorigin="anonymous"></script>

{% endblock %}