{# Landing Page #}

{% extends 'base.html' %}

{% load static %}

{% block title %}
	Texcably
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'texcably_app/css/landingpage.css' %}">
{% endblock %}

{% block content %}
    <nav>
        <h2>Texcably App</h2>
        <a href="{% url 'login' %}">Login</a>
    </nav>

    <header>
        <h1>Welcome to the <span class="underline">Texcably App</span><span class="dot">.</span></h1>
        <p>An easy solution for keeping track of vocabulary in context.</p>
    </header>
    <div class="warning">
        <h2><i class="fa-solid fa-exclamation"></i> Important Message</h2>
        <p>This project is highly wip and is deployed only for testing purposes. Your data will be deleted after a
            period a time.</p>
    </div>
    <script src="{% static 'texcably_app/js/app_navbar.js' %}"></script>
    <script src="https://kit.fontawesome.com/43d09edae1.js" crossorigin="anonymous"></script>
{% endblock %}